body {
    margin: 0;
    background: #fff;
    color: #000;

}

.container {
    padding: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.content-holder {
    width: 640px;
}

canvas {        
    background: yellow;
  }

.frst-block {
    margin-bottom: 30px;
}

.score-block {
    font-size: 24px;
    
}

.button-block {
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
}
button {
    font-size: 24px;
    padding:  12px 30px;
    margin: 0 20px;
}