.App {
  text-align: center;
  padding-top: 50px;
}

button {
  padding: 16px 30px;
  margin: 8px;
  border: none;
  border-radius: 12px;
  font-size: 24px;
  cursor: pointer;
}

.green {
  background-color: #4abb5f;
}
.red {
  background-color: #ea2128;
}

.blue {
  background-color: #73b7d8;
}

ol {
  text-align: left;
}
li {
  font-size: 20px;
}
